*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;

}

:root{
  --lm-bg: #f6f8ff;
  --lm-bg-content: #fefefe;
  --lm-text: #4b6a9b;
  --lm-text-alt: #2b3442;
  --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --lm-icon-bg: brightness(100%);
  --btn: #0079ff;
  --btn-hover: #60abff;
}

body{
  background-color: var(--lm-bg);
}

.wrapper{
  background-color: var(--lm-bg);
  height:100vh;
  width:100vw;
  overflow-x:hidden;
  overflow-y:scroll;
  /* display:flex;
  align-items: center;
  flex-direction: column; */
}

.container{
  height:100vh;
  width:751.3px;
  margin:0 auto;
}

.header{
  display:flex;
  /* width:100%; */
  justify-content:space-between;
  margin-top:0.5rem;
  margin-bottom:2rem;
}

.header h2{
  color:var(--lm-text);
  font-size:26px;
}

.dark{
  background:var(--lm-bg);
  border:none;
  color:var(--lm-text);
  letter-spacing: 2.5px;
  font-size:13px;
  font-weight:bold;
  width:90px;
  display:none;
  justify-content: space-between;
  align-items: center;

}



.light{
  background:var(--lm-bg);
  border:none;
  color:white;
  letter-spacing: 2.5px;
  font-size:13px;
  font-weight:bold;
  width:90px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.dark:hover,.light:hover{
  cursor:pointer
}

.light{
  display: none;
}

.searchForm{
  background-color:var(--lm-bg-content);
  /* width:100%; */
  /* padding: 1.4rem 1.2rem; */
  padding:10px;
  border-radius:16px;
  box-shadow:var(--lm-shadow);
  display:flex;
  justify-content:space-between;
  align-items: baseline;
}

.searchBar input{
  width:400px;
  border:none;
  outline:none;
  
}




.searchBar label img{
  width:20px;
  height:20px;

}



.searchBar {
  display:flex;
  gap:16px;
  margin-left:10px;
}


.searchBar input::placeholder{
  font-size:1.1rem;
  color:var(--lm-text);
}

.searchForm button{
  color:white;
  font-weight:bold;
  background-color:var(--btn);
  border:none;
  padding:16px 32px;
  font-size:1rem;
  border-radius:12px;
  transition:all 0.1ms;
  
  
}

.searchForm button:hover{
  cursor:pointer;
  background-color: var(--btn-hover);
}

.searchForm button:active{
  scale:0.98;
}

.mainContent{
  margin-top:1.2rem;
  /* display:flex; */
  position:relative;
  background-color:var(--lm-bg-content);
  padding:2rem;
  border-radius:16px;
  box-shadow:var(--lm-shadow);
}

.mainContent div[profile-info-container]{
  margin-left:25%;
  width:70%;
  display:flex;
  flex-direction:column;
  gap:1rem;

}


.mainContent div img[displayPic]{
  height:110px;
  width:110px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius:60%;
  position:absolute;
  left:-160px;
  
}

.userInfo{
  display:flex;
  justify-content: space-between;
  color:var(--lm-text-alt);
  position:relative;
}

.nameLink h2{
  font-size:26px;
}

.nameLink a{
  font-size:16px;
}

.nameLink a:visited,a:active{
  color:blue;
}

.date{
  font-size:15px;
  margin-top:8px;
  color:var(--lm-text)
}

.nameLink{
  display:flex;
  flex-direction: column;
  gap:0.2rem;
  
}

.mainContent p[desc]{
  font-size:15px;
  color:var(--lm-text);
}

.Stats{
  display:flex;
  gap:0.5rem;
  width:485px;
  background-color: var(--lm-bg);
  padding:1rem 2rem;
  border-radius:8px;
  margin-top:1rem;
}

.Box{
  width:115.8px;
  color:var(--lm-text);
  font-size:13px;
  display:flex;
  flex-direction:column;
  gap:8px;

}

.Box h2{
  color:black;
  font-size:22px;
}

.socials{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-top:2rem;
  gap:28px;
}

.gridBox{
  /* display:flex;
  gap:20px; */
  color:var(--lm-text);
  font-size:15px;
}

.gridBox span{
  margin-left:10px;}

.active{
  display:flex;
}

.biolink{
  width:200%;
}



input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  scale:1.3;
 }


 /*Media Queries*/

 @media only screen and (max-width: 1280px) {
  .userInfo{
    flex-direction:column;
    gap:0px;
    margin-left:120px;
    position:relative;
  }
  .mainContent div[profile-info-container]{
    /* flex-direction:column; */
    /* flex-wrap:wrap; */
    margin-left:30px;
  }
  .mainContent div img[displayPic]{
    left:-130px;
  }
  .container{
    width:600px;
  }
  .mainContent p[desc]{
    margin-top:20px;
  }
  .wrapper{
    overflow-y:scroll;
  }
  
}


@media only screen and (max-width: 768px){
  .container{
    width:330px;
  }
  
  .mainContent div[profile-info-container]{
    gap:2px;
    margin-left:0px;
  }
  .searchBar input[search]{
    width:140px;
  }

  .searchForm{
    width:330px;
  }
  .Stats{
    width:270px;
    gap:15px;
  }

  .userInfo .nameLink h2{
    font-size:20px;
  }
  .socials{
    display:flex;
    flex-direction:column;
    gap:9px;
  }
  .Box{
  width:auto;

  }
  .wrapper{
    overflow-y:scroll;
  }
  .biolink{
    display:flex;
    gap:10px;
  }
  .date{
    font-size:13px;
    width:160px;
  }

  .mainContent p[desc]{
    margin-top:40px;
  }
}